<body>
<div id="sidebar">
    <div id="sidebarContent">
        <img id="logoImg" src="/img/logo.png" alt="Logo">
        <nav id="sideNavigation">
            <li id="boardLink"><a href="/index.html">Board</a></li>
            <li><a href="/pages/backlog.html">Backlog </a></li>
            <li><a href="/pages/addTask.html">add Task </a></li>
            <li><a href="/pages/help.html">Help</a></li>
        </nav>
       
            <img id="userImg" src="/img/philip1.jpg">
        </div>
    </div>

    
</body>